* {
    font-family: 'Fira sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #374151;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    color: #6B7280;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    &_reg {
        margin: 10px 0;
    }
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import 'blocks/header';
@import 'blocks/content';
@import 'blocks/footer';
@import 'blocks/dropdown';
@import 'blocks/modal';
@import 'blocks/registration';