* {
    font-family: 'Fira sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #374151;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import 'blocks/header';
@import 'blocks/content';
@import 'blocks/footer';
@import 'blocks/dropdown';
@import 'blocks/modal';