.header {
    position: fixed;
    display: block;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    z-index: 2;
    &__title {
        font-family: 'Monoton', cursive;
        font-size: 45px;
        font-weight: 300;
        color: #6B7280;
        text-align: center;
    }
}